# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
Pipfile
.env
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

sample.config.py

node_modules

serverless.yaml

package-lock.json
package.json